# Unmodifiable configuration for testing
# This file contains settings that shouldn't be changed by the webserver

[stepper_x]
step_pin: PE5
dir_pin: PE6
enable_pin: !PC13

[stepper_y]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE4

[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6

[mcu]
serial: /dev/ttyS0
restart_method: command